.header {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;

  font-size: 16px;
  line-height: 17px;
  color: var(--block-header-color);
  transition: color var(--theme-transition-duration);
}

.idle {
  background-color: var(--block-header-bg-color);
  transition: background-color var(--theme-transition-duration);
}

.work {
  background-color: var(--red);
}

.pause {
  background-color: var(--green);
}

.task {
  font-weight: 700;
}

.complexity {
  font-weight: 400;
}
