.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 180px;
  background-color: var(--block-background-color);
  transition: background-color var(--theme-transition-duration);
}

.tomatoBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tomato {
  width: 81px;
  height: 81px;
}

.description {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #999999;
}

.count {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  background-color: var(--red);
  transition: background-color var(--theme-transition-duration);
}

@media (max-width: 992px) {
  .container {
    flex-basis: 50%;
    height: 100%;
  }
}
