.body {
  padding: 100px;
  background-color: var(--block-background-color);
  transition: background-color var(--theme-transition-duration);

  @media (max-width: 1200px) {
    padding: 50px;
  }
}

.enter {
  animation: enter 1s;
}
@keyframes enter {
  from {
    opacity: 0;
    transform: scale(0);
    height: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
    height: 250px;
  }
}

.exit {
  animation: exit 1s;
}

@keyframes exit {
  from {
    opacity: 1;
    transform: scale(1);

    height: 250px;
  }
  to {
    opacity: 0;
    transform: scale(0);
    height: 0;
  }
}
