.body {
  padding: 100px;
  background-color: var(--block-background-color);
  transition: background-color var(--theme-transition-duration);
  overflow: hidden;
  animation: appear 1s forwards;

  @media (max-width: 1200px) {
    padding: 50px;
  }

  @media (max-width: 576px) {
    padding: 25px;
  }
}

@keyframes appear {
  from {
    max-height: 0px;
    padding-top: 0;
    padding-bottom: 0;
  }
  to {
    max-height: 500px;
  }
}
