.value {
  text-align: center;
  font-weight: 200;
  font-size: 150px;
  line-height: 179px;
  color: var(--text-color);
  transition: color var(--theme-transition-duration);
}

.description {
  margin-bottom: 32px;

  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: var(--input-color);
  transition: color var(--theme-transition-duration);
}

.task {
  color: var(--text-color);
  transition: color var(--theme-transition-duration);
}

.enter {
  animation: enter 0.5s;
}

.exit {
  animation: exit 0.5s;
}

@keyframes enter {
  0% {
    transform: translateX(0%) rotateY(180deg);
    opacity: 0;
  }
  20% {
    transform: translateX(-30%) rotateY(90deg);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0%) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes exit {
  0% {
    transform: translateX(0%) rotateY(0deg);
    opacity: 1;
  }
  80% {
    transform: translateX(30%) rotateY(-90deg);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0%) rotateY(-180deg);
    opacity: 0;
  }
}
