.form {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.input {
  padding: 15px;
  width: 370px;
  height: 55px;

  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  color: var(--input-color);
  background-color: var(--input_background-color);
  transition-property: color, background-color;
  transition-duration: var(--theme-transition-duration);
  border: none;
}

.label {
  display: none;
}

.button {
  width: 173px;
  height: 55px;

  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;
  background-color: var(--green);
  transition: background-color var(--theme-transition-duration);
  border: none;
}

.button:hover {
  background-color: #899441;
}

.error {
  margin-bottom: 25px;
  color: var(--red);
  transition: color var(--theme-transition-duration);
}
