.container {
  text-align: center;
}

.inline {
  margin-right: 25px;
  width: 145px;
  height: 55px;

  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;
  background: var(--green);
  transition-property: background-color;
  transition-duration: var(--theme-transition-duration);
  border: none;
}

.inline:hover {
  background-color: #899441;
}

.outline {
  width: 138px;
  height: 55px;

  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: var(--red);
  border: 2px solid var(--red);
  background: var(--outline-button-bg-color);
  transition-property: background-color, color, border-color;
  transition-duration: var(--theme-transition-duration);
}

.outline:hover {
  color: #ffffff;
  background-color: var(--red);
  transition-property: color, background-color;
  transition-duration: var(--theme-transition-duration);
}

.outline:disabled {
  color: #c4c4c4;
  border-color: #c4c4c4;
}
