@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 100;
  src: local('SF UI Display'),
    url('./fonts/sf-ui-display-thin.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 200;
  src: local('SF UI Display'),
    url('./fonts/sf-ui-display-ultralight.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 300;
  src: local('SF UI Display'),
    url('./fonts/sf-ui-display-light.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  src: local('SF UI Display'),
    url('./fonts/sf-ui-display-light.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 500;
  src: local('SF UI Display'),
    url('./fonts/sf-ui-display-medium.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 600;
  src: local('SF UI Display'),
    url('./fonts/sf-ui-display-semibold.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 700;
  src: local('SF UI Display'),
    url('./fonts/sf-ui-display-bold.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 900;
  src: local('SF UI Display'),
    url('./fonts/sf-ui-display-heavy.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  font-family: 'SF UI Display';
}

body {
  font-family: 'SF UI Display';
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
